# Chapter 1!

### Introducing our first dataset: The Poker Dataset!

In [8]:
import pandas as pd
import time 


poker = pd.read_csv('poker_hand.csv')
poker.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

## Chapter 1 intro, continued. 

**In poker, you are given 5 cards. The numbers 1,2,3, and 4 correspond to Hearts, Diamonds, Clubs, and Spades, respectively. That's what's being listed in the "S" columns. In the "R" columns, we have the rank of the cards. For instance, S1 = 1 and R1 = 10 corresponds to the 10 of Hearts.**

#### Side note: Measuring time with the time package. 

 We imported "time" above, right? Well, we start timing with time.time(). See below for example:

In [10]:
start_time = time.time()
result = 5+ 2

print("Results from the first method calculated in %s seconds" % (time.time() - start_time))

Results from the first method calculated in 0.0 seconds